@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter-animation {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.box {
  caret-shape: block;
}

body {
  font-family: 'Hack-Regular', sans-serif;
  /* rest css code also here */
}
